@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Cafe Mocha Loca!</h1>
    <p><a style= "color:white";asp-controller="Home" asp-action="RegistrationForm">Sign up</a> today to improve your experience.</p>
</div>
